---
title: Shortcuts
---

<h1 id="section-1-1">Shortcuts</h1>

<p class="main-paragraph">Penpot provides shortcuts that help to speed your workflow. Many keyboard shortcuts appear next to the command names in menus.</p>

<p class="main-paragraph">Here you can find a list of all keyboard shortcuts that you can use in Penpot. Bear in mind that most of them are at the workspace, where they are more needed.</p>

<p>You can also check the shortcuts at its <a href="https://github.com/penpot/penpot/blob/develop/frontend/src/app/main/data/workspace/shortcuts.cljs" target="_blank">GitHub file</a></p>

<h3 id="edit">Edit</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>Shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Undo</td>
      <td style="text-align: center;">Ctrl + z</td>
      <td style="text-align: center;">⌘z</td>
    </tr>
    <tr>
      <td>Redo</td>
      <td style="text-align: center;">Ctrl + Shift + z</td>
      <td style="text-align: center;">⌘⇧z</td>
    </tr>
    <tr>
      <td>Clear undo</td>
      <td style="text-align: center;">Ctrl + q</td>
      <td style="text-align: center;">⌘q</td>
    </tr>
    <tr>
      <td>Copy</td>
      <td style="text-align: center;">Ctrl + c</td>
      <td style="text-align: center;">⌘c</td>
    </tr>
    <tr>
      <td>Duplicate</td>
      <td style="text-align: center;">Ctrl + d</td>
      <td style="text-align: center;">⌘d</td>
    </tr>
      <td>Cut</td>
      <td style="text-align: center;">Ctrl + x</td>
      <td style="text-align: center;">⌘x</td>
    </tr>
    <tr>
      <td>Paste</td>
      <td style="text-align: center;">Ctrl + v</td>
      <td style="text-align: center;">⌘v</td>
    </tr>
    <tr>
      <td>Delete</td>
      <td style="text-align: center;">Supr, Delete</td>
      <td style="text-align: center;">⌫</td>
    </tr>
    <tr>
      <td>Start editing</td>
      <td style="text-align: center;">Enter</td>
      <td style="text-align: center;">Enter</td>
    </tr>
    <tr>
      <td>Exit editing</td>
      <td style="text-align: center;">Esc</td>
      <td style="text-align: center;">Esc</td>
    </tr>
  </tbody>
</table>


<h3 id="modify-layers">Modify layers</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>Shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Group</td>
      <td style="text-align: center;">Ctrl + g</td>
      <td style="text-align: center;">⌘g</td>
    </tr>
    <tr>
      <td>Ungroup</td>
      <td style="text-align: center;">Shift + g</td>
      <td style="text-align: center;">⇧g</td>
    </tr>
    <tr>
      <td>Mask</td>
      <td style="text-align: center;">Ctrl + m</td>
      <td style="text-align: center;">⌘m</td>
    </tr>
    <tr>
      <td>Unmask</td>
      <td style="text-align: center;">Ctrl + Shift + m</td>
      <td style="text-align: center;">⌘⇧m</td>
    </tr>
    <tr>
      <td>Create component</td>
      <td style="text-align: center;">Ctrl + k</td>
      <td style="text-align: center;">⌘k</td>
    </tr>
    <tr>
      <td>Flip vertical</td>
      <td style="text-align: center;">Ctrl + v</td>
      <td style="text-align: center;">⌘v</td>
    </tr>
    <tr>
      <td>Flip horizontal</td>
      <td style="text-align: center;">Ctrl + h</td>
      <td style="text-align: center;">⌘h</td>
    </tr>
    <tr>
      <td>Bring forward</td>
      <td style="text-align: center;">Ctrl + ↑</td>
      <td style="text-align: center;">⌘↑</td>
    </tr>
    <tr>
      <td>Bring to front</td>
      <td style="text-align: center;">Ctrl + Shift + ↑</td>
      <td style="text-align: center;">⌘⇧↑</td>
    <tr>
      <td>Send backwards</td>
      <td style="text-align: center;">Ctrl + ↓</td>
      <td style="text-align: center;">⌘↓</td>
    </tr>
    <tr>
      <td>Send to back</td>
      <td style="text-align: center;">Ctrl + Shift + ↓</td>
      <td style="text-align: center;">⌘⇧↓</td>
    </tr>
    <tr>
      <td>Move up</td>
      <td style="text-align: center;">↑</td>
      <td style="text-align: center;">↑</td>
    </tr>
    <tr>
      <td>Move down</td>
      <td style="text-align: center;">↓</td>
      <td style="text-align: center;">↓</td>
    </tr>
    <tr>
      <td>Move right</td>
      <td style="text-align: center;">→</td>
      <td style="text-align: center;">→</td>
    </tr>
    <tr>
      <td>Move left</td>
      <td style="text-align: center;">←</td>
      <td style="text-align: center;">←</td>
    </tr>
    <tr>
      <td>Move fast up</td>
      <td style="text-align: center;">Shift + ↑</td>
      <td style="text-align: center;">⇧↑</td>
    </tr>
    <tr>
      <td>Move fast down</td>
      <td style="text-align: center;">Shift + ↓</td>
      <td style="text-align: center;">⇧↓</td>
    </tr>
    <tr>
      <td>Move fast right</td>
      <td style="text-align: center;">Shift + →</td>
      <td style="text-align: center;">⇧→</td>
    </tr>
    <tr>
      <td>Move fast left</td>
      <td style="text-align: center;">Shift + ←</td>
      <td style="text-align: center;">⇧←</td>
    </tr>
  </tbody>
</table>


<h3 id="tools">Tools</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Artboard</td>
      <td style="text-align: center;">a</td>
      <td style="text-align: center;">a</td>
    </tr>
    <tr>
      <td>Rectangle</td>
      <td style="text-align: center;">r</td>
      <td style="text-align: center;">r</td>
    </tr>
    <tr>
      <td>Ellipse</td>
      <td style="text-align: center;">e</td>
      <td style="text-align: center;">e</td>
    </tr>
    <tr>
      <td>Text</td>
      <td style="text-align: center;">t</td>
      <td style="text-align: center;">t</td>
    </tr>
    <tr>
      <td>Path</td>
      <td style="text-align: center;">p</td>
      <td style="text-align: center;">p</td>
    </tr>
    <tr>
      <td>Curve</td>
      <td style="text-align: center;">Ctrl + c</td>
      <td style="text-align: center;">⌘c</td>
    </tr>
    <tr>
      <td>Image</td>
      <td style="text-align: center;">k</td>
      <td style="text-align: center;">k</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td style="text-align: center;">c</td>
      <td style="text-align: center;">c</td>
    </tr>
  </tbody>
</table>


<h3 id="main-menu">Main menu</h3>

<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Toggle rules</td>
      <td style="text-align: center;">Ctrl + Shift + r</td>
      <td style="text-align: center;">⌘⇧r</td>
    </tr>
    <tr>
      <td>Toggle grid</td>
      <td style="text-align: center;">Ctrl + '</td>
      <td style="text-align: center;">⌘'</td>
    </tr>
    <tr>
      <td>Toggle snap to grid</td>
      <td style="text-align: center;">Ctrl + Shift + '</td>
      <td style="text-align: center;">⌘⇧'</td>
    </tr>
    <tr>
      <td>Toggle dynamic alignment</td>
      <td style="text-align: center;">Ctrl + \</td>
      <td style="text-align: center;">⌘\</td>
    </tr>
    <tr>
      <td>Select all</td>
      <td style="text-align: center;">Ctrl + a</td>
      <td style="text-align: center;">⌘a</td>
    </tr>
  </tbody>
</table>


<h3 id="panels">Panels</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Layers</td>
      <td style="text-align: center;">Ctrl + l</td>
      <td style="text-align: center;">⌘l</td>
    </tr>
    <tr>
      <td>Assets</td>
      <td style="text-align: center;">Ctrl + i</td>
      <td style="text-align: center;">⌘i</td>
    </tr>
    <tr>
      <td>History</td>
      <td style="text-align: center;">Ctrl + h</td>
      <td style="text-align: center;">⌘h</td>
    </tr>
    <tr>
      <td>Color palette</td>
      <td style="text-align: center;">Ctrl + p</td>
      <td style="text-align: center;">⌘p</td>
    </tr>
    <tr>
      <td>Color picker</td>
      <td style="text-align: center;">i</td>
      <td style="text-align: center;">i</td>
    </tr>
  </tbody>
</table>


<h3 id="zoom">Zoom</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Zoom in</td>
      <td style="text-align: center;">Ctrl + + <br> Ctrl-Scrollwheel <br> Pinch out (trackpad)</td>
      <td style="text-align: center;">⌘+ <br> Option-Scrollwheel <br> Option-swipe (Magic Mouse) <br> Pinch out (trackpad) <br></td>
    </tr>
    <tr>
      <td>Zoom out</td>
      <td style="text-align: center;">Ctrl + - <br> Ctrl-Scrollwheel <br> Pinch in (trackpad)</td>
      <td style="text-align: center;">⌘- <br> Option-Scrollwheel <br> Option-swipe (Magic Mouse) <br> Pinch in (trackpad) <br></td>
    </tr>
    <tr>
      <td>Zoom to 100%</td>
      <td style="text-align: center;">Ctrl + Shift + 0</td>
      <td style="text-align: center;">⌘⇧0</td>
    </tr>
    <tr>
      <td>Zoom to fit all</td>
      <td style="text-align: center;">Ctrl + Shift + 1</td>
      <td style="text-align: center;">⌘⇧1</td>
    </tr>
    <tr>
      <td>Zoom to selected</td>
      <td style="text-align: center;">Ctrl + Shift + 2</td>
      <td style="text-align: center;">⌘⇧2</td>
    </tr>
  </tbody>
</table>


<h3 id="view-mode">View mode</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>Next frame</td>
      <td style="text-align: center;">→</td>
      <td style="text-align: center;">→</td>
    </tr>
    <tr>
      <td>Previous frame</td>
      <td style="text-align: center;">←</td>
      <td style="text-align: center;">←</td>
    </tr>
  </tbody>
</table>


<h3 id="goto-screens">Go to screens</h3>
<table cellspacing="0" cellpadding="1" border="1" width="100%">
  <tbody>
    <tr>
      <th width="NaN%" valign="top" class="cellrowborder"><strong>shortcut</strong></th>
      <th width="NaN%" valign="top" class="cellrowborder" style="text-align: center;"><strong>Linux and Windows</strong></th>
      <th style="text-align: center;"><strong>macOS</strong></th>
    </tr>
    <tr>
      <td>View mode</td>
      <td style="text-align: center;">g v</td>
      <td style="text-align: center;">g v</td>
    </tr>
    <tr>
      <td>Dashboard</td>
      <td style="text-align: center;">g d</td>
      <td style="text-align: center;">g d</td>
    </tr>
  </tbody>
</table>
