---
title: 2· The interface
---

<h1 id="the-interface">The interface</h1>
<p class="main-paragraph">The Penpot interface has three main areas: the Dashboard, the Workspace and the View mode. Lets take a look at their composition and main features.</p>


<h3 id="dashboard-interface">Dashboard</h3>
<p>The Dashboard is the place where you will be able to organize your files, libraries, projects and teams.</p>

<p>
  <a href="/img/interface-dashboard.png" target="_blank">
    <img src="/img/interface-dashboard.png" alt="Dashboard" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Teams
  <strong>2)</strong> Search files
  <strong>3)</strong> Projects
  <strong>4)</strong> Drafts
  <strong>5)</strong> Shared Libraries
  <strong>6)</strong> Pinned projects
  <strong>7)</strong> User area
  <strong>8)</strong> Comments notification
  <strong>9)</strong> Create project
  <strong>1)</strong> File card
</p>

<ol>
  <li><strong>Teams:</strong> A team allows you to collaborate with other penpot users. Team members are allowed to work with any project or file within the team depending on their permissions. Members with admin permissions can also invite other members. Create or join as many teams as you need with different groups of people.</li>
  <li><strong>Search:</strong> If you are looking for a specific file just type its title at the search box.</li>
  <li><strong>Projects:</strong> A project allows you to group design files. It works pretty much like a folder in a file system. You can create as many projects as you need. If you are going to work with more people in a project, you should create it inside a team.</li>
  <li><strong>Drafts:</strong> The drafts section is where you can find the design files that are not inside any project.</li>
  <li><strong>Shared Libraries:</strong> In this section you will find all the design files that have been added as shared libraries. That way you will be able to better control the files that are sharing their assets. </li>
  <li><strong>Pinned projects:</strong> If you want to keep some projects handy (for instance because you’re currently working on them) you can pin them to make them show at the sidebar.</li>
  <li><strong>User area:</strong> This must be you! Change your profile, password or change the language from the settings. You can also find here a way to leave us feedback. We’d love to read your thoughts :)</li>
  <li><strong>Comments notifications:</strong> Here you will be able to see if you have unread comments inside the files of the team.</li>
  <li><strong>Create project:</strong> Create as many projects as you need to organize your designs.</li>
  <li><strong>File card:</strong> Basic information about a file at plain sight. How it looks like, last update or if it’s added as a Shared Library. You can rename or delete a file. A lot of more options coming soon.</li>
</ol>



<h3 id="workspace-interface">Workspace</h3>
<p>The Workspace is where you actually create your designs. You have an infinite canvas where you can work directly but you also have the ability to create and work inside artboards that will help you to create pages and exportation units.</p>

<p>
  <a href="/img/interface-workspace.png" target="_blank">
    <img src="/img/interface-workspace.png" alt="Workspace" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Main menu
  <strong>2)</strong> Users
  <strong>3)</strong> File status
  <strong>4)</strong> Zoom
  <strong>5)</strong> View mode
  <strong>6)</strong> Toolbar
  <strong>7)</strong> Layers panel
  <strong>8)</strong> Assets panel
  <strong>9)</strong> History panel
  <strong>1)</strong> Palettes panel
  <strong>1)</strong> Prototype mode
  <strong>1)</strong> Object properties
</p>

<ol>
  <li><strong>Main menu:</strong> At the file main menu you are able to tweak your workspace configuration. Manage visibility for grids, rules, panels. Enable or disable sapping, dynamic alignment. Add or remove the file as Shared Library. There’s also a link to the feedback options.</li>
  <li><strong>Users:</strong> You can see how many users are working in the file at the same time.</li>
  <li><strong>File status:</strong> Information about the file saving state. Know if last changes are saved or if there is a problem.</li>
  <li><strong>Zoom:</strong> Zoom options and shortcuts information.</li>
  <li><strong>View mode:</strong> The view mode button launches a presentation with the artboards. See more about what you can do at the view mode. </li>
  <li><strong>Toolbar:</strong> The toolbar is the place where you will find the tools to quick and easily create the different types of shapes: Artboard, rectangle, ellipse, text, graphic, path, free drawing and comments.</li>
  <li><strong>Layers panel:</strong> The layers panel allows you to see and manage the layers and pages of a file. A file can have as many pages as you need. Each page has its own viewport (the almost infinite area where you actually create your designs) with its own layers. You can create, delete or reorder your pages at your needs.</li>
  <li><strong>Assets panel:</strong> Each file has a default library (File Library) where that allows to store elements and styles that are likely to be reused. That includes components, graphics, colors and typographies. To add an asset to a library just click the “+” button at the header of each asset group.</li>
  <li><strong>History panel:</strong> The history panel keeps track of the latest changes on an opened file. You can do undo/redo to walk the changes and expand each one of them to get detailed information.</li>
  <li><strong>Palettes panel:</strong> The colors palette allows you to always have a color library at plain sight. Use the menu to easily switch between libraries.</li>
  <li><strong>Prototype mode:</strong> Penpot allows you to prototype interactions connecting artboards. Once selected the prototype mode at the right sidebar, select an element to drag a connection to another artboard. You’ll be able to see the interactive prototype in action in the view mode (access by clicking the play button at the top right).</li>
  <li><strong>Object properties:</strong> At the Design panel you can find and edit the properties of a selected shape. The list of properties shown varies depending on the type of element. There are some common properties always set (like size and position) and others not set but available to be added (stroke, shadow, blur...).</li>
</ol>



<h3 id="viewmode-interface">View mode</h3>
<p>Launch the view mode to present and share your designs or play with the interactions set at the workspace. You also have a code mode where you can get objects specifications and code snippets.</p>

<p>
  <a href="/img/interface-viewmode.png" target="_blank">
    <img src="/img/interface-viewmode.png" alt="View mode" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Frames view toggle
  <strong>2)</strong> Frames counter
  <strong>3)</strong> Play mode
  <strong>4)</strong> Comments mode
  <strong>5)</strong> Code mode
  <strong>6)</strong> Interactions settings
  <strong>7)</strong> Share link
  <strong>8)</strong> Edit file (back to workspace)
  <strong>9)</strong> Zoom
  <strong>9)</strong> Fullscreen mode
</p>

<ol>
  <li><strong>Artboards toggle:</strong> Opening the frames view displays a list of the artboards with thumbnails that provide a graphic overview of the file.</li>
  <li><strong>Artboards counter:</strong> Artboards count and current position. </li>
  <li><strong>Play mode:</strong> Default presentation mode where you can also play with interactions.</li>
  <li><strong>Comments mode:</strong> Comments mode shows comments inside artboards and allows users to reply or add new ones.</li>
  <li><strong>Code mode:</strong> At code mode you can get design specifications such as object properties, measurements and distances. You can also get code snippets for styles (currently CSS only but more coming) and SVG markup.</li>
  <li><strong>Interactions settings:</strong> Select whether to highlight interactions active areas on click, all the time or not at all.</li>
  <li><strong>Share link:</strong> Create a shareable link of the view mode to send it so developers, other designers or stakeholders can view the designs and access the code specifications regardless being at your team or even logged at Penpot.</li>
  <li><strong>Edit file:</strong> Go back to the workspace.</li>
  <li><strong>Zoom:</strong> Zoom options and shortcuts information.</li>
  <li><strong>Fullscreen mode:</strong> Activate or deactivate browser fullscreen mode.</li>
</ol>
