---
title: 02· The interface
---

<h1 id="the-interface">The interface</h1>
<p class="main-paragraph">The Penpot interface has three main areas: the Dashboard, the Workspace and the View mode. Lets take a look at their composition and main features.</p>


<h3 id="dashboard-interface">Dashboard</h3>
<p>The Dashboard is the place where you will be able to organize your files, libraries, projects and teams.</p>

<p>
  <a href="/img/interface-dashboard.png" target="_blank">
    <img src="/img/interface-dashboard.png" alt="Dashboard" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Teams
  <strong>2)</strong> Search files
  <strong>3)</strong> Projects
  <strong>4)</strong> Drafts
  <strong>5)</strong> Shared Libraries
  <strong>6)</strong> Custom fonts
  <strong>7)</strong> Pinned projects
  <strong>8)</strong> User area
  <strong>9)</strong> Comments notification
  <strong>10)</strong> Create project
  <strong>11)</strong> File card
  <strong>12)</strong> Libraries & Templates module
</p>

<ol>
  <li><strong>Teams:</strong> A team allows you to collaborate with other penpot users. Team members are allowed to work with any project or file within the team depending on their permissions. Members with admin permissions can also invite other members. Create or join as many teams as you need with different groups of people.</li>
  <li><strong>Search:</strong> If you are looking for a specific file just type its title at the search box.</li>
  <li><strong>Projects:</strong> A project allows you to group design files. It works pretty much like a folder in a file system. You can create as many projects as you need. If you are going to work with more people in a project, you should create it inside a team.</li>
  <li><strong>Drafts:</strong> The drafts section is where you can find the design files that are not inside any project.</li>
  <li><strong>Shared Libraries:</strong> In this section you will find all the design files that have been added as shared libraries. That way you will be able to better control the files that are sharing their assets. </li>
  <li><strong>Custom fonts:</strong> If you have purchased or personal fonts that are not included in the catalog provided by Penpot, you can upload them from your computer and use them across the files of a team.</li>
  <li><strong>Pinned projects:</strong> If you want to keep some projects handy (for instance because you’re currently working on them) you can pin them to make them show at the sidebar.</li>
  <li><strong>User area:</strong> This must be you! Change your profile, password or change the language from the settings. You can also find here a way to leave us feedback. We’d love to read your thoughts :)</li>
  <li><strong>Comments notifications:</strong> Here you will be able to see if you have unread comments inside the files of the team.</li>
  <li><strong>Create project:</strong> Create as many projects as you need to organize your designs.</li>
  <li><strong>File card:</strong> Basic information about a file at plain sight. How it looks like, last update or if it’s added as a Shared Library. You can rename or delete a file. A lot of more options coming soon.</li>
  <li><strong>Libraries & Templates module:</strong> A curated selection of Libraries & Templates files ready to import.</li>
</ol>



<h3 id="workspace-interface">Workspace</h3>
<p>The Workspace is where you actually create your designs. You have an infinite canvas where you can work directly but you also have the ability to create and work inside boards that will help you to create pages and exportation units.</p>

<p>
  <a href="/img/interface-workspace.png" target="_blank">
    <img src="/img/interface-workspace.png" alt="Workspace" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Main menu
  <strong>2)</strong> Users
  <strong>3)</strong> File status
  <strong>4)</strong> History panel
  <strong>5)</strong> Zoom
  <strong>6)</strong> View mode
  <strong>7)</strong> Layers panel
  <strong>8)</strong> Assets panel
  <strong>9)</strong> Toolbar
  <strong>10)</strong> Typography palette
  <strong>11)</strong> Color palette
  <strong>12)</strong> Rulers
  <strong>13)</strong> Design properties
  <strong>14)</strong> Prototype mode
  <strong>15)</strong> Viewport
</p>

<ol>
  <li><strong>Main menu:</strong> At the file main menu you are able to tweak your workspace configuration. Manage visibility for grids, rulers, panels. Enable or disable snapping, dynamic alignment. Add or remove the file as Shared Library. There’s also a link to the feedback options.</li>
  <li><strong>Users:</strong> You can see how many users are working in the file at the same time.</li>
  <li><strong>File status:</strong> Information about the file saving state. Know if last changes are saved or if there is a problem.</li>
  <li><strong>History panel:</strong> The history panel keeps track of the latest changes on an opened file. You can do undo/redo to walk the changes and expand each one of them to get detailed information. <a href="/user-guide/workspace-basics/#history">More about history</a></li>
  <li><strong>Zoom:</strong> Zoom options and shortcuts information.</li>
  <li><strong>View mode:</strong> The view mode button launches a presentation with the boards. See more about what you can do at the <a href="/user-guide/view-mode/#viewmode-features">view mode.</a> </li>
  <li><strong>Layers panel:</strong> The layers panel allows you to see and manage the layers and pages of a file. A file can have as many pages as you need. Each page has its own viewport (the almost infinite area where you actually create your designs) with its own layers. You can create, delete or reorder your pages at your needs. <a href="/user-guide/layer-basics/">More about layers</a></li>
  <li><strong>Assets panel:</strong> Each file has a default library (File Library) where that allows to store elements and styles that are likely to be reused. That includes components, graphics, colors and typographies. To add an asset to a library just click the “+” button at the header of each asset group.</li>
  <li><strong>Toolbar: </strong> The toolbar is the place where you will find the tools to quick and easily create the different types of objects: Board, rectangle, ellipse, text, graphic, path, free drawing and comments.  <a href="/user-guide/objects/">More about objects</a></li>
  <li><strong>Typography palette:</strong> The Typography palette allows you to always have the typographie styles at plain sight. Use the menu to easily switch between libraries.</li>
  <li><strong>Color palette:</strong> The color palette allows you to always have a color library at plain sight. Use the menu to easily switch between libraries. <a href="/user-guide/styling/#color-palette">More about the color palette</a>.</li>
  <li><strong>Rulers:</strong> Sometimes you need coordinates to design. You can also drag guides from the rulers.</li>
  <li><strong>Design properties:</strong> At the Design properties sidebar you can find and edit the properties of a selected shape. The list of properties shown varies depending on the type of element. There are some common properties always set (like size and position) and others not set but available to be added (stroke, shadow, blur...). <a href="/user-guide/styling/">More about styling</a></li>
  <li><strong>Prototype mode:</strong> Penpot allows you to prototype interactions connecting boards. Once selected the prototype mode at the right sidebar, select an element to drag a connection to another board. You’ll be able to see the interactive prototype in action in the view mode (access by clicking the play button at the top right). <a href="/user-guide/interactions/">More about prototyping</a></li>
  <li><strong>Viewport:</strong> An infinite canvas to design without limits.</li>
</ol>



<h3 id="viewmode-interface">View mode</h3>
<p>Launch the view mode to present and share your designs or play with the interactions set at the workspace. You also have a handoff mode where you can get objects specifications and code snippets. <a href="/user-guide/view-mode/">More about the View mode</a></p>

<p>
  <a href="/img/interface-viewmode.png" target="_blank">
    <img src="/img/interface-viewmode.png" alt="View mode" />
  </a>
</p>

<p class="hint">
  <strong>1)</strong> Pages selector
  <strong>2)</strong> Boards selector
  <strong>3)</strong> Boards counter
  <strong>4)</strong> Play mode
  <strong>5)</strong> Comments mode
  <strong>6)</strong> Handoff
  <strong>7)</strong> Interactions settings
  <strong>8)</strong> Zoom options
  <strong>9)</strong> Full screen
  <strong>10)</strong> Share prototype options
  <strong>11)</strong> Edit file
  <strong>12)</strong> Reset prototype
  <strong>13)</strong> Navigation button
</p>

<ol>
  <li><strong>Pages selector:</strong> Navigate through the pages of a file. If is a shareable link this can be configured.</li>
  <li><strong>Boards selector:</strong> Frames selector displays a list of the boards with thumbnails that provide a graphic overview of the file.</li>
  <li><strong>Boards counter:</strong> Boards count and current position. </li>
  <li><strong>Play mode:</strong> Default presentation mode where you can also play with interactions.</li>
  <li><strong>Comments mode:</strong> Comments mode shows comments inside Boards and allows users to reply or add new ones.</li>
  <li><strong>Handoff:</strong> At the Handoff you can get design specifications such as object properties, measurements and distances. You can also get code snippets for styles (currently CSS only but more coming) and SVG markup. <a href="/user-guide/view-mode/#viewmode-handoff">More about Handoff</a></li>
  <li><strong>Interactions settings:</strong> Select whether to highlight interactions active areas on click, all the time or not at all. <a href="/user-guide/view-mode/#viewmode-features">More about interaction settings</a></li>
  <li><strong>Zoom:</strong> Zoom options and info about their shortcuts.</li>
  <li><strong>Fullscreen mode:</strong> Activate or deactivate browser fullscreen mode.</li>
  <li><strong>Share link:</strong> Create shareable links of the view mode to send it to developers, other designers or stakeholders, so they can view the designs and access the code specifications regardless being at your team or even logged at Penpot.</li>
  <li><strong>Edit file:</strong> Opens file edition at the design workspace.</li>
  <li><strong>Reset prototype:</strong> Goes to the first board of the prototype.</li>
  <li><strong>Navigation button:</strong> Forward and backwards buttons.</li>
</ol>
