---
title: 15· Comments
---

<h1 id="comments">Comments</h1>
<p class="main-paragraph">Comments allows the team to have one priceless conversation getting and providing feedback right over the designs and prototypes.<p>

<h3 id="comments-add">Adding comments</h3>
<p><img src="/img/comments-add.gif" alt="comments" /></p>
<ol>
  <li>At the workspace, activate the comment tool by clicking the comment icon in the toolbar or pressing the <kbd>C</kbd> key.</li>
  <li>Click a place at the viewport where you’d like to leave the comment. If you want the comment to appear at the view mode leave the comment inside an artboard.</li>
  <li>Write your comment at the text box.</li>
  <li>Press Post to leave the comment or Cancel to not do it.</li>
</ol>
<h4>How to reply a comment</h4>
<ol>
  <li>Open a comment by clicking at its bubble (a circled number).</li>
  <li>Write your comment at the text box at the end of the comment popup.</li>
  <li>Press Post to leave the comment or Cancel to not do it.</li>
</ol>
<h4>Mark threads as read</h4>
<p>Mark a thread as read using the checkbox at the comment box to make it disappear from the comments notifications at the dashboard.</p>
<p><img src="/img/comments-thread.png" alt="comments" /></p>

<h3 id="comments-dashboard">Edit and remove comments</h3>
<p>At the top right of the comment popup you can find options to edit or delete comments.</p>

<h3 id="comments-dashboard">Dashboard notifications</h3>
<p><img src="/img/comments-dashboard.png" alt="comments" /></p>
<p>At your projects Dashboard you will be able to see if you have unread comments inside the files of the team.</p>

<h3 id="comments-viewmode">Comments at the View mode</h3>
<p>You can activate comments at the View mode by pressing the comments icon at the top navbar.</p>
<p><strong>Note:</strong> the View mode shows only artboards so the comments placed outside artboards will not show here.</p>
<p><img src="/img/comments-view.png" alt="comments" /></p>
