---
title: 11· Prototyping
---

<h1 id="interactions">Prototyping interactions</h1>
<p class="main-paragraph">Penpot allows you to prototype interactions by connecting artboards. Learn how to build interactive prototypes to visualize how users navigate through your screens.<p>

<p class="advice">Advanced interactions are among the main priorities of the Penpot team. Related features will be implemented soon.</p>

<h3 id="interactions-add">Adding interactions</h3>
<p><img src="/img/interactions-add.gif" alt="prototyping" /></p>
<p>Add interactions following this simple steps:</p>
<ol>
  <li>Open a file with at least two artboards.</li>
  <li>Activate <strong>Prototype mode</strong> clicking at the tab at the right sidebar.</li>
  <li><strong>Select</strong> a shape, artboard or group that will trigger the interaction.</li>
  <li><strong>Drag</strong> a connection to another artboard or <strong>choose an artboard</strong> from the “Navigate to” selector.</li>
</ol>

<h3 id="interactions-view">View interactions</h3>
<p><img src="/img/interactions-view.gif" alt="prototyping" /></p>
<p>To see the interactive prototype in action go to the View mode that can be accessed by clicking the play button at the top right.</p>
<h4>View options</h4>
<p>At the navbar you can find options to show the interactive areas.</p>
<p><img src="/img/interactions-view-options.png" alt="prototyping" /></p>

<h3 id="interactions-remove">Removing interactions</h3>
<p>There are two ways to remove interactions:</p>
<ol>
  <li>In Prototype mode select “Navigate to” > “none”.</li>
  <li>Drag out the connector from the linked artboard.</li>
</ol>
<p><img src="/img/interactions-remove.png" alt="prototyping" /></p>
