---
layout: layouts/faqs.njk
eleventyNavigation:
  key: FAQs
  order: 4
---

<h1 class="main-title">Frequently asked questions</h1>

<p class="main-paragraph">
  You probably arrived here because you either wanted to understand the Why Penpot or the How Penpot questions. Both are fine and we have grouped those questions attending to that soft categorisation. This FAQ will continue to evolve and, at some point, will probably require more ergonomics, filters and search. For now, let’s see how it goes.
</p>

<p class="main-paragraph">
  These are questions related to the fact that Penpot even exists or what is particularly different and new about it.
</p>

<p class="advice">
  Missing a question? This is a work in progress, for any suggestions please write us at <a href="mailto:info@penpot.app" target="_blank">info@penpot.app</a>
</p>

<h2 id="who-created-penpot-why" class="secondary-title">
  Who created Penpot? Why?
</h2>
<p>
  There is a company called <a href="https://kaleidos.net" target="_blank">Kaleidos Open Source</a> that has been long known for its commitment to free & open source software and a more diverse and inclusive workplace where cross-domain teams really enjoy working together. Kaleidos launched Taiga [https://taiga.io] a few years ago to deal with the absence of a truly agile open source project management tool. The next major pain in our ranked list of outrageous open source absentees was a design & prototype tool the likes of Figma, Sketch or Invision.
</p>
<p>
  At Kaleidos we believe that the tools that we use to build end products should be as accessible to everyone, regardless of their background, skills or purchasing power. Also, not having a free & open source UX/UI tool that would make devs participate in the design process and bridge the gap between UX/UI and code was a terrible itch for us.
</p>
<p>
<p>
  We created Penpot out of the need to enjoy design freedom for cross-domain teams.
</p>

<ul>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>

<ol>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>

tablas?
