---
layout: layouts/home.njk
twitter: "@penpotapp"
image: img/placeholder.png
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="main-title">Penpot documentation</h1>

<p>Lorem ipsum dolor...</p>
