---
layout: layouts/home.njk
twitter: "@penpotapp"
image: img/placeholder.png
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="main-title">Help center</h1>

<ul class="help-sections">
  <li>
    <a href="/developer_guide/_index/">
      <h3>Developer guide →</h3>
      <p>Comprehensive documentation about architecture, configuration and core.</p>
    </a>
  </li>
  <li>
    <a href="/faqs">
      <h3>Frequently asked questions →</h3>
      <p>Get quick answers to usual questions about "why and how" Penpot.</p>
    </a>
  </li>
  <li class="no-link">
    <!-- a href="" -->
      <h3>Contact us →</h3>
      <p>Write us at <a href="mailto:info@penpot.app" target="_blank">info@penpot.app</a> or join the <a href="https://github.com/penpot/penpot/discussions" target="_blank">team discusions</a>.</p>
      <!-- p>Write us an email, join team discussions or chat with us.</p-->
    <!-- /a -->
  </li>
  <li class="soon">
    <a href="">
      <h3>User guide →</h3>
      <!-- p>Everything you need to know about how Penpot works.</p -->
      <span class="advice"> Coming soon </span>
    </a>
  </li>
</ul>
