---
title: 13· Import/export files
---

<h1 id="importing">Import and export files</h1>
<p class="main-paragraph">You can export Penpot files to your computer and import them from your computer to your projects.</p>

<p class="advice">Importing files from other tools and services are among the main priorities of the Penpot team. Related features are coming soon.</p>

<h3 id="importing-export">Export (download) Penpot files</h3>
<p>Exporting files is useful if you want to share Penpot files with a user that does not belong to one of your teams or you want to have a backup of your files outside penpot.app.</p>
<p>To export a file select the one of the download options from the file menu at the dashboard and the file will be downloaded to your computer. You can select between two formats, binary and standard. Each format has is advantages and disadvantages, choose what suits better to your case.</p>
<strong>Penpot file (.penpot): the fast.</strong>
<ul>
  <li>✅ Highly efficient in terms of memory and transfer time when exporting and importing.</li>
  <li>❌ It can be opened only in Penpot.</li>
  <li>❌ Not transparent, code difficult to explore.</li>
</ul>
<strong>Standard file (.svg + .json): the open.</strong>
<ul>
  <li>✅ Allows the file to be opened by other softwares (still, for those cases export to SVG seems to be the common practice).</li>
  <li>✅ Allows some automations and integrations.</li>
  <li>✅ Is a transparent, existing, open standard format.</li>
  <li>❌ Highly inefficient in terms of memory and transfer time when exporting and importing (this is because SVG).</li>
</ul>
<p><img src="/img/import-export.png" alt="Import / Export files" /></p>

<h4>Export multiple files</h4>
<p>Select multiple files to export them at the same time. An overlay will show you the progress of the different exports.</p>
<p><img src="/img/importing-export.gif" alt="Import / Export files" /></p>
<h4>Exporting files linked to Shared libraries</h4>
<p>Exported files linked to shared libraries provide different ways to export their assets. Choose the one that suits you better!</p>
<ul>
  <li><strong>Export shared libraries</strong>: Files with shared libraries will be included in the export, maintaining their linkage.</li>
  <li><strong>Include shared library assets in file libraries</strong>: Files will be exported with all external assets merged into the file library.</li>
  <li><strong>Treat shared library assets as basic objects</strong>: Shared libraries will not be included in the export and no assets will be added to the library.</li>
</ul>
<p>Choose the one that suits you better for each occasion!</p>
<p><img src="/img/importing-libraries.png" alt="Import / Export files" /></p>

<p>You can also export / download a file from its main menu at the design workspace.</p>
<p><img src="/img/import-export-menu.png" alt="Import / Export files" /></p>

<h3 id="importing-import">Import Penpot files</h3>
<p>The import option is at the projects menu. Press “Import files” and then select one or more .penpot files to import.</p>
<p><img src="/img/importing-import.png" alt="Import / Export files" /></p>
<p>Before actually importing the files to your project, you’ll still have the chance to change their names or get rid of unwanted files.</p>
<p><img src="/img/importing-import-options.png" alt="Import / Export files" /></p>
