---
title: 05· Objects
---

<h1 id="objects">Objects</h1>
<p class="main-paragraph">Objects are items that you can place in the viewport. Artboards, shapes, texts, paths and graphics are objects. The following describes the different objects that you have
available in Penpot, and how to get the most of them.</p>

<h3 id="artboards">Artboards</h3>
<p>An artboard is a frame with fixed edges. Artboards are useful if you want to design for a specific screen or print size. Objects inside artboards only show the parts that fall within its shape.</p>

<h4>Create artboards</h4>
<p>You can create an artboard with a custom sizes or choose one of the provided presets with the most common resolution for devices and standard print sizes. </p>
<p><img src="/img/artboards-creation.gif" alt="artboards" /></p>
<p><strong>TIP:</strong> Create an artboard around one or more selected objects using the option at the menu or the shortcut <kbd>Ctrl/⌘</kbd> + <kbd>Alt</kbd> + <kbd>G</kbd>.</p>


<h4>Select and move artboards</h4>
<p>Click on the artboard name or double click over an area without layers.</p>
<p>To move an artboard you have to select it first and then drag it from its name or from an area without layers. </p>
<p><strong>Tip:</strong> If you hold <kbd>Shift/⇧</kbd> while dragging you can do it from any part of the artboard, regardless where the layers are.</p>
<p><img src="/img/artboards-move.gif" alt="artboards" /></p>

<h4>Grids and prototyping</h4>
<p>Artboards have two additional features: you can set grids on them to assist with aligning objects, and you can connect them to each other to create interactions.</p>
<p><img src="/img/artboards-grid-int.png" alt="artboards" /></p>


<h3 id="rectangles-ellipses">Rectangles and ellipses</h3>
<p>Rectangle and ellipses are two basic “primitive” geometric shapes that are useful when starting
a design.</p>
<p>The shortcut keys are <kbd>E</kbd> for ellipses and <kbd>R</kbd> for rectangles.</p>
<p>To find out more about how to edit and modify these shapes go to <a href="/user-guide/04-layer-basics/">Layer basics</a>.</p>
<p><img src="/img/rect-ellipses.gif" alt="shapes" /></p>


<h3 id="text">Text</h3>
<p>To insert text you have to activate the text tool by first clicking on the icon at the toolbar or pressing <kbd>T</kbd>. Then you have two ways to create a text layer:</p>
<ol>
  <li><strong>Click</strong> to create a textbox without any specific dimensions.</li>
  <li><strong>Drag</strong> to create a textbox with a fixed size.</li>
</ol>
<p><img src="/img/text-creation.gif" alt="text" /></p>
<h4>Edit and style text content</h4>
<p>Press <kbd>Enter</kbd> with a text layer selected to start editing the text content. You can style parts of the text content as rich text.</p>
<p><img src="/img/text-edit.gif" alt="text" /></p>
<h4>Text options</h4>
<p><img src="/img/text-options.png" alt="text" /></p>
<ol>
  <li><strong>Font family.</strong> You can choose any font from <a href="https://fonts.google.com/" target=”_blank”>Google Fonts</a>.</li>
  <li><strong>Font size.</strong></li>
  <li><strong>Font type.</strong></li>
  <li><strong>Line height</strong> (in pixels).</li>
  <li><strong>Letter spacing</strong> (in pixels).</li>
  <li><strong>Text case:</strong> none, uppercase, lowercase, titlecase.</li>
  <li><strong>Horizontal alignment:</strong> left, center, right, justify.</li>
  <li><strong>Vertical alignment:</strong> top, center, bottom.</li>
  <li><strong>Sizing:</strong> auto height, auto width, fixed size.</li>
  <li><strong>Text decoration:</strong> none, underline, strikethrough.</li>
</ol>

<h3 id="curves">Curves (freehand)</h3>
<p>The curve tool allows a path to be created directly in a freehand mode.
Select the curve tool by clicking on the icon at the toolbar or pressing <kbd>Ctrl/⌘</kbd> + <kbd>c</kbd>.
<p>The path created will contain a lot of points, but it is edited the same way as any other curve.</p>

<h3 id="paths">Paths (bezier)</h3>
<p>A path is composed of two or more nodes and the line segments between them, which may also be curved. To draw a new path you have to select the path tool by clicking on the icon at the toolbar or pressing <kbd>P</kbd>. Then you have two ways to create the path:</p>
<ol>
  <li><strong>Click</strong> to create a new corner node.</li>
  <li><strong>Click and drag</strong> to create a curved node.</li>
</ol>
<p>To finish the path:</p>
<ol>
  <li><strong>Close it</strong> clicking over the starting node.</li>
  <li><strong>Leave it open</strong> pressing <kbd>Esc</kbd> or <kbd>Enter</kbd> to stop editing. Then press <kbd>Esc</kbd> to exit the edit mode.</li>
</ol>
<p><strong>Tip:</strong> If you hold <kbd>Shift/⇧</kbd> while adding nodes the angle between the current and the next will change in 45 degree increments.</p>
<p><img src="/img/paths-create.gif" alt="paths" /></p>

<h4>Edit nodes</h4>
<p>To edit a node double click on a path or select and press <kbd>Enter</kbd>.
You can choose to edit individual nodes or create new ones. Press <kbd>Esc</kbd> to exit node edition. </p>
<p><img src="/img/paths-edit.gif" alt="paths" /></p>
<h4>Node types</h4>
<p>There are two types of nodes: curve or corner (straight). The type of a selected node can be changed at the bezier menu. Curved nodes have bezier handles that allow the curvature of a path to be modified.</p>
<p><img src="/img/paths-nodes.gif" alt="paths" /></p>


<h3 id="images">Images</h3>
<p>There are several options for inserting an image into a Penpot file:</p>
<ol>
  <li>Use the <strong>image tool</strong> at the toolbar or press <kbd>K</kbd> to inspect images in your file system.</li>
  <li><strong>Drag</strong> an image from your computer to the viewport.</li>
  <li>Copy an image & paste it or drag it right from a <strong>browser</strong>.</li>
  <li>Drag an image from a Penpot <strong>library</strong>.</li>
</ol>

<h3 id="comments">Comments</h3>
<p>The comment tool lets you place comments and notes directly in your pages.
These will only appear when the comment tool is chosen. Click on the comment tool
or press <kbd>c</kbd> to select.
</p>

<h3 id="set-thumbnail">Set artboard as thumbnail</h3>
<p>Select an specific artboard to be the file thumbnail that will be shown at <a href="/user-guide/the-interface/#dashboard-interface" target="_blank">the dashboard</a> in the file card.</p>
<p>To set a custom thumbnail:</p>
<ol>
  <li>Select an artboard.</li>
  <li>Right click to show the menu and select "Set as thumbnail" or press <kbd>Shift</kbd> <kbd>T</kbd>.</li>
</ol>
<p><img src="/img/set-thumbnail.gif" alt="Set thumbnail" /></p>

<h3 id="focus-mode">Focus mode</h3>
<p>Select the elements of a page you want to work with in a specific moment hiding the rest so they don’t get in the way of your attention. This option is also useful to improve the performance in cases where the page has a large number of elements.</p>
<p>To activate focus mode:</p>
<ol>
  <li>Select one or more elements.</li>
  <li>Right click to show the menu and select the option "Focus on" or press <kbd>F</kbd>.</li>
</ol>
<p><img src="/img/focus-mode.gif" alt="focus-mode" /></p>
