---
title: 20· Teams
---

<h1 id="teams">Teams</h1>
<p class="main-paragraph">A team allows you to collaborate with other penpot users. Team members are allowed to work with any project or file within the team depending on their permissions. Members with admin permissions can also invite other members. Create or join as many teams as you need with different groups of people.</p>

<h3 id="teams-management">Manage teams</h3>
<p>At Penpot you can create as many teams as you need and be invited to teams owned by others. Learn how to manage them.</p>

<h4>Select team</h4>
<p>At the top left of the dashboard you can find the team selector.</p>

<p>"Your Penpot" is the name of your personal space at Penpot. It is like any other team but in which no members can be invited so that you will allways have your own private dashboard. Create or join other teams to collaborate with other Penpot users.</p>
<p><img src="/img/teams-yourpenpot.png" alt="teams" /></p>

<h4>Create teams</h4>
<p>To create a new team go to the bottom of the team selector and press "+ Create new team". Then you will be asked to enter a team name and that's it. A new team is created where you will be able to invite new team members.</p>
<p><img src="/img/teams-create.png" alt="teams" /></p>

<h4>Delete and leave teams</h4>
<p>All members can leave the team anytime from the same menu.</p>
<p>Only the team owner can delete a team. The option can be found at the team menu (the three dots at the right side). When deleting a team all projects and files belonging to it will be permanently deleted.</p>
<p><img src="/img/teams-delete.png" alt="teams" /></p>

<h4>Team settings</h4>
<p>At the team settings you can see the information about how many members, projects and files belong to it. Team name and profile picture can be updated.</p>
<p><img src="/img/teams-settings.png" alt="teams" /></p>


<h3 id="teams-members">Team members</h3>
<p>At the team members area you can view all the users that are inside the team and manage them according to your permissions.</p>
<p><img src="/img/teams-members.png" alt="teams" /></p>

<h4>Team roles</h4>
<p>These are the team roles currently available at Penpot:</p>
<ul>
  <li><strong>Owner:</strong> There's only one owner per team, the role is automatically assigned to the team creator. Owners have permissions to change every other member role, including transfering ownership. Owners can update team settings, invite members and delete teams.</strong></li>
  <li><strong>Admin:</strong> Permissions to change every other member role except owners. Can invite members and update team settings.</strong></li>
  <li><strong>Editor:</strong> Without permissions to change member roles, invite members or update team settings.</strong></li>
</ul>
<p><img src="/img/teams-permissions.png" alt="teams" /></p>
<p class="advice">More team roles will be eventually available, as fine grained permissions management to control members accesses and actions.</p>

<h4>Transfer ownership</h4>
<p>An owner can transfer her ownership to another team member anytime and has to transfer when leaving the team.</p>
<p><img src="/img/teams-transfer.png" alt="teams" /></p>

<h3 id="teams-invites">Team invites</h3>
<p>You can invite people to join the team using the "Invite to team" window. Add their emails separated by comma, select the role that will be assigned to them and press "Send invitation". An invitation will be sent to each of the added emails that still will need to be accepted.</p>
<p><img src="/img/teams-invite.png" alt="teams" /></p>

<p>Check the status of a team invitations at the "Invitations" section. A pending invitation can be canceled from there.</p>
<p><img src="/img/teams-invitations.png" alt="teams" /></p>
