---
title: 08· Exporting Objects
---

<h1 id="export">Exporting Objects</h1>
<p class="main-paragraph">In Peynpot you can setup export presets for different file formats and scales.</p>

<h3 id="export-howto">How to Export</h3>
<p>To export an object you need to select it and at the Design panel add an export preset pressing the “+” button of the Export section.</p>
<p>Export presets can be also found at the <strong><a href="/user-guide/the-interface/#viewmode-interface" target="_blank">View mode</a></strong> with the code tab activated.</p>
<p><img src="/img/export-howto.gif" alt="export" /></p>

<h4>Remove Export Preset</h4>
<p>To <strong>remove an export presets</strong> you have to select the object and then press the “-” button at the export preset you want to remove.</p>
<p><img src="/img/export-remove.gif" alt="export" /></p>

<h3 id="export-options">Export options</h3>
<p>The options of an export:</p>
<ul>
  <li><strong>Size</strong> - Options for the most common sizing scales.</li>
  <li><strong>Suffix</strong> - Especially useful if you are exporting at different scales.</li>
  <li><strong>File format</strong> - PNG, SVG, JPEG.</li>
</ul>

<h3 id="export-multiple">Multiple Export Presets</h3>
<p>You can set as many export presets you need for the same object. Set multiple exports to get the same object in different scales and/or formats with just one click.</p>
<p><img src="/img/export-multiple.png" alt="export" /></p>

<h3 id="export-artboards-pdf">Export Artboards to PDF</h3>
<p>If you have a presentation made at Penpot you might want to create a document that can be shared with anyone, regardless of having a Penpot account, or just to be able to use your presentation offline (essential for talks and classes). You can easily export all the artboards of a page to a single pdf file from the file menu.</p>
<p><img src="/img/export-artboards-pdf.png" alt="export" /></p>
