---
title: 07· Styling
---

<h1 id="styling">Styling</h1>
<p class="main-paragraph">Penpot has a variety of styling options for each selected object that can be found at the Design panel.</p>

<h3 id="fill">Fill</h3>
<p>Color fills can be added to artboards, shapes, texts and to groups of layers. A fill can be a custom color (HEX) or color style from a library.</p>
<p>To apply a fill you can use the color picker, the color palette or the color styles from a library.</p>
<p>You can set <strong>opacity</strong> for custom fills.</p>
<p><img src="/img/styling-fill-apply.gif" alt="fills" /></p>
<h4>Remove fill</h4>
<p>To <strong>remove a fill</strong> you have to select the object and then press the “-” button at the fill section.</p>
<p><img src="/img/styling-fill-remove.gif" alt="fills" /></p>

<h3 id="stroke">Stroke</h3>
<p>Strokes can be added to most of the objects at Penpot (rectangles, ellipses, artboards, curves).</p>
<p><img src="/img/styling-stroke.gif" alt="stroke" /></p>
<p>Stroke options are:</p>
<ul>
  <li><strong>Color and opacity</strong>.</li>
  <li><strong>Width</strong> (pixels).</li>
  <li><strong>Position:</strong> center, outside, inside.</li>
  <li><strong>Style:</strong> solid, dotted, dashed, mixed.</li>
</ul>

<h3 id="stroke-caps">Stroke caps</h3>
<p>Ever needed an arrow to point something? You can style the ends of any open paths selecting different styles for each end of an open path.</p>
<p><img src="/img/styling-stroke-caps.gif" alt="stroke" /></p>

<p>Stroke caps options:</p>
<ul>
  <li><strong>Line arrow:</strong> An simple line arrow (two lines at 45º) with the same width as the stroke.</li>
  <li><strong>Triangle arrow:</strong> An solid arrowhead witht the shape of a triangle.</li>
  <li><strong>Square marker</strong>.</li>
  <li><strong>Circle marker</strong>.</li>
  <li><strong>Diamond marker</strong>.</li>
  <li><strong>Round:</strong> Adds a round ending to the end of the path.</li>
  <li><strong>Square:</strong> Adds a rectangular ending to the end of the path.</li>
</ul>
<p><img src="/img/styling-stroke-caps.png" alt="stroke" /></p>

<h3 id="radius">Border radius</h3>
<p>Border radius can be applied to rectangles to edit its corners. There’s also the option to edit each corner individually.</p>
<p><img src="/img/styling-radius.gif" alt="border radius" /></p>


<h3 id="shadow">Shadow</h3>
<p>Adding shadows is easy from the design panel. You can add as many as you want.</p>
<p><img src="/img/styling-shadow.gif" alt="shadow" /></p>
<p>Shadow options are:</p>
<ul>
  <li><strong>Type:</strong> Drop (outside the layer), inner (inside the layer).</li>
  <li><strong>Horizontal position</strong> (X).</li>
  <li><strong>Vertical position</strong> (Y).</li>
  <li><strong>Blur</strong>.</li>
  <li><strong>Spread</strong>.</li>
  <li><strong>Color and opacity</strong>.</li>
</ul>

<h3 id="blur">Blur</h3>
<p>You can set a blur for each and every object at Penpot.</p>
<p><strong></strong>Applying a lot and/or big values for blurs can affect Penpot’s performance as it requires a lot from the browser.</p>
<p><img src="/img/styling-blur.gif" alt="blur" /></p>
