---
title: 6· Grids & layouts
---

<h1 id="grids-layouts">Grids and layouts</h1>
<p class="main-paragraph">All you need to know about how to set up grids in Penpot.</p>

<p>Grids are design aids that can help you to align content easily to a geometric structure. At Penpot there are three types of grids: <strong>square</strong>, <strong>columns</strong> and <strong>rows</strong>.</p>

<p><strong>Note:</strong> grids can only be visible at the viewport and will never be shown on exports.</p>

<h3 id="creating-grids">Creating layout grids</h3>
<p>Grids can only be created at artboards level. To create a grid you need to select an artboard first. At the Design panel there is a section for "Grids & Layouts", click at the "+" button to add a grid to the arboard. You can add as many grids as you want.</p>
<p><img src="/img/grids-create.gif" alt="grids" /></p>

<h3 id="hide-remove-grids">Hide and remove grids</h3>
<p>You can hide an specific grid by clicking at the eye button of a grid configuration. If you want to remove a grid, use the "-" button at the right side of the grid pill.</p>
<p><img src="/img/grids-hide-remove.gif" alt="grids" /></p>


<h3 id="square-grids">Square grids</h3>
<p><img src="/img/grids-square.gif" alt="grids" /></p>
<p>Options for square or rectangular grids are:</p>
<ul>
  <li><strong>Size</strong> (pixels). </li>
  <li><strong>Color</strong>.</li>
  <li><strong>Opacity</strong>. </li>
</ul>


<h3 id="row-layouts">Row layouts</h3>
<p><img src="/img/grids-rows.gif" alt="grids" /></p>
<p>Options for row layouts are:</p>
<ul>
  <li><strong>Rows</strong>.</li>
  <li><strong>Type:</strong> stretch, top, center bottom</li>
  <li><strong>Height:</strong> "auto" by default.</li>
  <li><strong>Gutter:</strong> the space between each row.</li>
  <li><strong>Margin</strong>. </li>
  <li><strong>Color</strong>. </li>
  <li><strong>Opacity</strong>. </li>
</ul>


<h3 id="row-layouts">Column layouts</h3>
<p><img src="/img/grids-columns.gif" alt="grids" /></p>
<p>Options for column layouts are:</p>
<ul>
  <li><strong>Columns</strong>. </li>
  <li><strong>Type:</strong> stretch, top, center bottom.</li>
  <li><strong>Width:</strong> "auto" by default.</li>
  <li><strong>Gutter:</strong> the space between each row.</li>
  <li><strong>Margin</strong>. </li>
  <li><strong>Color</strong>. </li>
  <li><strong>Opacity</strong>. </li>
</ul>


<h3 id="grid-defaults">Grid defaults</h3>
<p>There are default settings at file level. You can easly change the settings of a grid to the default ones and you can also set a grid to be the default one just by using the buttons at the bottom of the advanced options menu.</p>
<p><img src="/img/grids-defaults.gif" alt="grids" /></p>


<h3 id="grid-snap-visibility">Snap to grid and visibility</h3>
<p>If you want to hide/show all the grids at a file you can press <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>
<p>If you want to enable/disable the snapping to grids you can press <kbd>Shift/⇧</kbd> + <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>
<p><img src="/img/grids-snap-visibility.gif" alt="grids" /></p>
