---
title: 08· Grids & Guides
---

<h1 id="grids-guides">Grids & guides</h1>
<p class="main-paragraph">This chapter describes all you need to know about how to set up grids and guides in Penpot.</p>


<h2 id="grids-layouts">Grids and layouts</h2>
<p>Grids are design aids that are used to help you to align content to a
geometric structure. In Penpot there are three types of grids:
<strong>square</strong>, <strong>columns</strong> and <strong>rows</strong>.</p>

<p><strong>Note:</strong> Grids are only visible in the viewport and will never be shown on exports.</p>

<h3 id="creating-grids">Creating Layout Grids</h3>
<p>Grids are created at the boards level. To create a grid on board, select the board. In the Design panel there is a section for "Grids & Layouts". Click the "+" button to add a grid to the board. You can add as many grids as you want.</p>
<p><img src="/img/grids-create.gif" alt="grids" /></p>

<h3 id="hide-remove-grids">Hide and Remove Grids</h3>
<p>You can hide an specific grid by clicking at the eye button of a grid configuration. If you want to remove a grid, use the "-" button at the right side of the grid pill.</p>
<p><img src="/img/grids-hide-remove.gif" alt="grids" /></p>

<h3 id="square-grids">Square Grid</h3>
<p><img src="/img/grids-square.gif" alt="grids" /></p>
<p>The options for square or rectangular grids are:</p>
<ul>
  <li><strong>Size</strong> (in pixels) </li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong> </li>
</ul>


<h3 id="row-layouts">Row Layouts</h3>
<p><img src="/img/grids-rows.gif" alt="grids" /></p>
<p>The options for row layouts are:</p>
<ul>
  <li><strong>Rows</strong></li>
  <li><strong>Type</strong> - stretch, top, center bottom</li>
  <li><strong>Height</strong> - "auto" by default.</li>
  <li><strong>Gutter</strong> - the space between each row.</li>
  <li><strong>Margin</strong></li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong></li>
</ul>


<h3 id="row-layouts">Column Layouts</h3>
<p><img src="/img/grids-columns.gif" alt="grids" /></p>
<p>Options for column layouts are:</p>
<ul>
  <li><strong>Columns</strong></li>
  <li><strong>Type</strong> - stretch, top, center bottom</li>
  <li><strong>Width</strong> - "auto" by default.</li>
  <li><strong>Gutter</strong> - the space between each column.</li>
  <li><strong>Margin</strong></li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong></li>
</ul>


<h3 id="grid-defaults">Grid Defaults</h3>
<p>There are default settings available at file level. You can change the settings of a grid to the file defaults by using the "Use default" button. You can also set a grid to be the default by using the "Set as default" button.</p>
<p><img src="/img/grids-defaults.gif" alt="grids" /></p>


<h3 id="grid-snap-visibility">Snap to Grid and Visibility</h3>
<p>To hide or show all the grids at a file you can press <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>
<p>If you want to enable or disable the snapping to grids you can press <kbd>Shift/⇧</kbd> + <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>
<p><img src="/img/grids-snap-visibility.gif" alt="grids" /></p>


<h2 id="guides">Guides</h2>
<p>To create guides click anywhere on the ruler an drag to some point of the viewport. Click on the vertical ruler to create a vertical guide and the horizontal ruler to you know what.</p>

<p><img src="/img/guides.gif" alt="grids" /></p>

<p>To <strong>delete guides drag</strong> the guide to the ruler or select the guide and press delete / supr.</p>

<p>To <strong>show/hide guides</strong> use the same shortcut as for rules: <kbd>Shift/CMD + Ctrl + R</kbd></p>
