---
title: 03· Workspace basics
---

<h1 id="workspace-basics">Workspace basics</h1>
<p class="main-paragraph">The Workspace is where you create designs. You have an infinite canvas in where you can directly work but you also have the ability to create pages and boards that will help you to create exportable components.</p>

<h2 id="viewport">The viewport</h2>
<p>Surrounded by panels, header and toolbars, in the middle of the workspace, you can find the viewport. The viewport is the design area of a file page. It is practically infinite. If what you need is a frame with specific, limited dimensions, you can create a board.</p>
<p><img src="/img/viewport.png" alt="the viewport" /></p>
<h4>Navigate the viewport</h4>
<p>Press <kbd>space</kbd> while moving your mouse to navigate the viewport. If you are using a trackpad you can do two finger scrolling.</p>
<p>You can also use the scrollbars, which are specially useful for those who love using graphic tablets.</p>
<p><img src="/img/viewport-navigate.gif" alt="navigate the viewport" /></p>


<h2 id="workspace-menu">The menu</h2>
<p>There's a main menu at the workspace where you will find groups with all the actions that you can do at file level. Export, view and edit options and preferences among them.</p>
<p><img src="/img/workspace-menu.gif" alt="workspace menu" /></p>


<h2 id="zoom">Zoom</h2>

<h4>Zoom menu</h4>
<p>To zoom in and out hold <kbd>Ctrl</kbd> (or <kbd>⌘</kbd> if using macOS) and use the scroll wheel on your mouse. You also have a bunch of useful shortcuts for the most common zoom levels that you can find at the zoom menu in the navigation bar.</p>
<p><a href="/user-guide/introduction/shortcuts/#zoom" target="_blank">All zoom shortcuts →</a></p>
<p><img src="/img/zoom-menu.png" alt="zoom menu" /></p>

<h4>Zoom lense</h4>
<p>Press left click while pressing <kbd>Z</kbd> to zoom in to an specific point and <kbd>Alt/⌥</kbd> + <kbd>Z</kbd> to zoom out.</p>
<p><img src="/img/zoom-lense.gif" alt="zoom lense" /></p>

<h4>Zooming from the layers panel</h4>
<p>Double click over a layer icon to zoom to the layer.</p>
<p><img src="/img/zoom-layer.gif" alt="zoom layer" /></p>


<h2 id="dynamic-alignment">Dynamic alignment</h2>
<p>While moving objects at the viewport Penpot will show alignment guides for the edges and the center of the layers at sight. Dynamic alignment also snaps the object that is being moved to those guides to help you align to the center of the edges of other objects.</p>
<p><img src="/img/dynamic-alignment.gif" alt="Dynamic alignment" /></p>
<p>If there are more than two objects nearby and you drag one of them Penpot will show their distance to help you distribute them equally. </p>
<p><img src="/img/dynamic-alignment-measurement.gif" alt="Dynamic alignment" /></p>


<h2 id="rulers">Rulers</h2>
<p>Penpot has rulers that measure in pixels. Soon there will be guides that can be dragged from the rulers.</p>
<p><img src="/img/rulers.gif" alt="rulers" /></p>






<h2 id="grids">Grids</h2>
<p>Grids are design aids that are used to help you to align content to a
geometric structure. In Penpot there are three types of grids:
<strong>square</strong>, <strong>columns</strong> and <strong>rows</strong>.</p>

<p><strong>Note:</strong> Grids are only visible in the viewport and will never be shown on exports.</p>

<h3 id="creating-grids">Creating grids</h3>
<p>Grids are created at the boards level. To create a grid on board, select the board. In the Design panel there is a section for "Grids & Layouts". Click the "+" button to add a grid to the board. You can add as many grids as you want.</p>
<p><img src="/img/grids-create.gif" alt="grids" /></p>

<h3 id="hide-remove-grids">Hide and remove grids</h3>
<p>You can hide an specific grid by clicking at the eye button of a grid configuration. If you want to remove a grid, use the "-" button at the right side of the grid pill.</p>
<p><img src="/img/grids-hide-remove.gif" alt="grids" /></p>

<h3 id="square-grids">Square grid</h3>
<p><img src="/img/grids-square.gif" alt="grids" /></p>
<p>The options for square or rectangular grids are:</p>
<ul>
  <li><strong>Size</strong> (in pixels) </li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong> </li>
</ul>

<h3 id="row-layouts">Row grid</h3>
<p><img src="/img/grids-rows.gif" alt="grids" /></p>
<p>The options for row grids are:</p>
<ul>
  <li><strong>Rows</strong></li>
  <li><strong>Type</strong> - stretch, top, center bottom</li>
  <li><strong>Height</strong> - "auto" by default.</li>
  <li><strong>Gutter</strong> - the space between each row.</li>
  <li><strong>Margin</strong></li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong></li>
</ul>

<h3 id="row-layouts">Column grid</h3>
<p><img src="/img/grids-columns.gif" alt="grids" /></p>
<p>Options for column grids are:</p>
<ul>
  <li><strong>Columns</strong></li>
  <li><strong>Type</strong> - stretch, top, center bottom</li>
  <li><strong>Width</strong> - "auto" by default.</li>
  <li><strong>Gutter</strong> - the space between each column.</li>
  <li><strong>Margin</strong></li>
  <li><strong>Color</strong></li>
  <li><strong>Opacity</strong></li>
</ul>

<h3 id="grid-defaults">Grid defaults</h3>
<p>There are default settings available at file level. You can change the settings of a grid to the file defaults by using the "Use default" button. You can also set a grid to be the default by using the "Set as default" button.</p>
<p><img src="/img/grids-defaults.gif" alt="grids" /></p>

<h3 id="grid-visibility">Grid visibility</h3>
<p>To hide or show all the grids at a file you can press <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>

<h3 id="grid-snap">Snap to grid</h3>
<p>If you want to enable or disable the snapping to grids you can press <kbd>Shift/⇧</kbd> + <kbd>Ctrl/⌘</kbd> + <kbd>´</kbd> or use the option at the main menu at the top left of the navbar.</p>
<p><img src="/img/grids-snap-visibility.gif" alt="grids" /></p>

<h2 id="guides">Guides</h2>
<p>To create guides click anywhere on the ruler an drag to some point of the viewport. Click on the vertical ruler to create a vertical guide and the horizontal ruler to you know what.</p>
<p><img src="/img/guides.gif" alt="grids" /></p>
<p>To <strong>delete guides</strong> drag the guide to the ruler or select the guide and press delete / supr.</p>
<p>To <strong>show/hide guides</strong> use the same shortcut as for rulers: <kbd>Shift/CMD + Ctrl + R</kbd></p>


<h2 id="snap-to-pixel">Snap to pixel</h2>
<p>Objects automatically snap to the pixel grid. If you need a different kind of precision like working at subpixel level using measures with decimals you can disable this option . This option can be disabled anytime from the main menu.</p>
<p><img src="/img/snap-pixel.png" alt="snap to pixel" /></p>

<h2 id="nudge-amount">Nudge amount</h2>
<p>Set your desired distance to move objects using the keyboard. This is a must if you’re working with grids (if you’re not, you should ;)), being able to adjust the movement to your baseline grid (8px? 5px?) is a huge timesaver that will improve your quality of life while designing.</p>
<p><img src="/img/nudge-amount.png" alt="nudge amount" /></p>

<h2 id="shortcuts-panel">Shortcuts panel</h2>
<p>Shortcuts boost your productivity but are not easy to find and learn. A handy panel at your workspace will help you with that.</p>
<p>Display the shortcuts panel at the workspace by clicking on the shortcuts button at the bottom of the left toolbar or using the shortcut <kbd>?</kbd></p>
<p>Categories and a filter will help you to find the shortcut you need.</p>
<p><img src="/img/shortcuts-panel.gif" alt="Shortcuts panel" /></p>

<h2 id="history">History</h2>
<p>The history panel keeps track of the latest changes on an opened file.</p>

<h4>View history</h4>
<p>To view the recent history of a file at the workspace press <kbd>Ctrl/⌘</kbd> + <kbd>H</kbd> or click at the history icon on the toolbar at the left.</p>
<p>At the history you can see items with information about the last changes. At first sight you have object type (rectangle, text, image...) and type of change (New, Modified, Deleted...). If you press the item further details are shown.</p>
<p><img src="/img/history-item.gif" alt="history" /></p>
<p><strong>Note:</strong> History panel is still in a very early state and shows only a limited list of changes at a current browser tab session. Refreshing the browser means refreshing the History as well.</p>

<h4>Navigate history</h4>
<p>To navigate through the history press <kbd>Ctrl/⌘</kbd> + <kbd>Z</kbd> to go backwards and <kbd>Ctrl/⌘</kbd> + <kbd>Shift/⇧</kbd> + <kbd>Z</kbd> to go forward.</p>
<p>You can also press any item of the history list to got to this specific state.</p>
<p><img src="/img/history-navigate.gif" alt="history" /></p>


<h2 id="comments">Comments</h2>
<p>Comments allows the team to have one priceless conversation getting and providing feedback right over the designs and prototypes.<p>

<h4>Adding comments</h4>
<p><img src="/img/comments-add.gif" alt="comments" /></p>
<ol>
  <li>At the workspace, activate the comment tool by clicking the comment icon in the toolbar or pressing the <kbd>C</kbd> key.</li>
  <li>Click on a location within the viewport to leave a comment. If you want the comment to appear in the board view, add the comment to the board.</li>
  <li>Write your comment at the text box.</li>
  <li>Press Post to leave the comment or Cancel to not do it.</li>
</ol>
<h4>How to reply a comment</h4>
<ol>
  <li>Open a comment by clicking at its bubble (a circled number).</li>
  <li>Write your comment at the text box at the end of the comment popup.</li>
  <li>Press Post to leave the comment or Cancel to not do it.</li>
</ol>
<h4>Mark threads as read</h4>
<p>Mark a thread as read using the checkbox at the comment box to make it disappear from the comments notifications at the dashboard.</p>
<p><img src="/img/comments-thread.png" alt="comments" /></p>

<h4>Edit and remove comments</h4>
<p>At the top right of the comment popup you can find options to edit or delete comments.</p>

<h4>Dashboard notifications</h4>
<p><img src="/img/comments-dashboard.png" alt="comments" /></p>
<p>At your projects Dashboard you will be able to see if you have unread comments inside the files of the team.</p>
