---
title: 03· Workspace basics
---

<h1 id="workspace-basics">Workspace basics</h1>
<p class="main-paragraph">The Workspace is where you create designs. You have an infinite canvas in where you can directly work but you also have the ability to create pages and artboards that will help you to create exportable components.</p>

<h3 id="viewport">The viewport</h3>
<p>Surrounded by panels, header and toolbars, in the middle of the workspace, you can find the viewport. The viewport is the design area of a file page. It is practically infinite. If what you need is a frame with specific, limited dimensions, you can create an artboard.</p>
<p><img src="/img/viewport.png" alt="the viewport" /></p>
<h4>Navigate the viewport</h4>
<p>Press <kbd>space</kbd> while moving your mouse to navigate the viewport. If you are using a trackpad you can do two finger scrolling.</p>
<p>You can also use the scrollbars, which are specially useful for those who love using graphic tablets.</p>
<p><img src="/img/viewport-navigate.gif" alt="navigate the viewport" /></p>


<h3 id="workspace-menu">The menu</h3>
<p>There's a main menu at the workspace where you will find groups with all the actions that you can do at file level. Export, view and edit options and preferences among them.</p>
<p><img src="/img/workspace-menu.gif" alt="workspace menu" /></p>


<h3 id="zoom">Zoom</h3>
<p>To zoom in and out hold <kbd>Ctrl</kbd> (or <kbd>⌘</kbd> if using macOS) and use the scroll wheel on your mouse. You also have a bunch of useful shortcuts for the most common zoom levels that you can find at the zoom menu in the navigation bar.</p>
<p><a href="/user-guide/introduction/shortcuts/#zoom" target="_blank">All zoom shortcuts →</a></p>
<p><img src="/img/zoom-menu.png" alt="zoom menu" /></p>


<h3 id="dynamic-alignment">Dynamic alignment</h3>
<p>While moving objects at the viewport Penpot will show alignment guides for the edges and the center of the layers at sight. Dynamic alignment also snaps the object that is being moved to those guides to help you align to the center of the edges of other objects.</p>
<p><img src="/img/dynamic-alignment.gif" alt="Dynamic alignment" /></p>
<p>If there are more than two objects nearby and you drag one of them Penpot will show their distance to help you distribute them equally. </p>
<p><img src="/img/dynamic-alignment-measurement.gif" alt="Dynamic alignment" /></p>


<h3 id="rulers">Rulers</h3>
<p>Penpot has rulers that measure in pixels. Soon there will be guides that can be dragged from the rulers.</p>
<p><img src="/img/rulers.gif" alt="rulers" /></p>


<h3 id="snap-to-grid">Snap to grid</h3>
<p>Objects automatically snap to the nearest point of a visible grid. This option can be disabled anytime from the main menu.</p>
<p><img src="/img/snap-grid.gif" alt="snap to grid" /></p>

<h3 id="snap-to-pixel">Snap to pixel</h3>
<p>Objects automatically snap to the pixel grid. If you need a different kind of precision like working at subpixel level using measures with decimals you can disable this option . This option can be disabled anytime from the main menu.</p>
<p><img src="/img/snap-pixel.png" alt="snap to pixel" /></p>

<h3 id="nudge-amount">Nudge amount</h3>
<p>Set your desired distance to move objects using the keyboard. This is a must if you’re working with grids (if you’re not, you should ;)), being able to adjust the movement to your baseline grid (8px? 5px?) is a huge timesaver that will improve your quality of life while designing.</p>
<p><img src="/img/nudge-amount.png" alt="nudge amount" /></p>

<h3 id="shortcuts-panel">Shortcuts panel</h3>
<p>Shortcuts boost your productivity but are not easy to find and learn. A handy panel at your workspace will help you with that.</p>
<p>Display the shortcuts panel at the workspace by clicking on the shortcuts button at the bottom of the left toolbar or using the shortcut <kbd>?</kbd></p>
<p>Categories and a filter will help you to find the shortcut you need.</p>
<p><img src="/img/shortcuts-panel.gif" alt="Shortcuts panel" /></p>
