---
title: 03· Workspace basics
---

<h1 id="workspace-basics">Workspace basics</h1>
<p class="main-paragraph">The Workspace is where you actually create your designs. You have an infinite canvas where you can work directly but you also have the ability to create and work inside artboards that will help you to create pages and exportation units.</p>

<h3 id="viewport">The viewport</h3>
<p>Surrounded by panels, header and toolbars, in the middle of the workspace, you can find the viewport. The viewport is the design area of a file page. It is practically infinite. If what you need is a frame with specific, limited dimensions, you can create an artboard.</p>
<p><img src="/img/viewport.png" alt="the viewport" /></p>
<h4>Navigate the viewport</h4>
<p>Press <kbd>space</kbd> while moving your mouse to navigate the viewport. If you are using a trackpad you can do two finger scrolling.</p>
<p><img src="/img/viewport-navigate.gif" alt="navigate the viewport" /></p>


<h3 id="zoom">Zoom</h3>
<p>To zoom in and out hold <kbd>Ctrl</kbd> (or <kbd>⌘</kbd> if using macOS) and use the scroll wheel on your mouse. You also have a bunch of useful shortcuts for the most common zoom levels that you can find at the zoom menu in the navigation bar.</p>
<p><a href="/user-guide/01-introduction/1-2-shortcuts/#zoom" target="_blank">All zoom shortcuts →</a></p>
<p><img src="/img/zoom-menu.png" alt="zoom menu" /></p>


<h3 id="dynamic-alignment">Dynamic alignment</h3>
<p>While moving objects at the viewport Penpot will show alignment guides for the edges and the center of the layers at sight. Dynamic alignment also snaps the object that is being moved to those guides to help you align to the center of the edges of other objects.</p>
<p><img src="/img/dynamic-alignment.gif" alt="Dynamic alignment" /></p>
<p>If there are more than two objects nearby and you drag one of them Penpot will show their distance to help you distribute them equally. </p>
<p><img src="/img/dynamic-alignment-measurement.gif" alt="Dynamic alignment" /></p>


<h3 id="rulers">Rulers</h3>
<p>Penpot has rulers that measure in pixels. Soon there will be guides that can be dragged from the rulers.</p>
<p><img src="/img/rulers.gif" alt="rulers" /></p>


<h3 id="snap-to-grid">Snap to grid</h3>
<p>Objects automatically snap to the nearest point of a visible grid. This option can be disabled anytime from the main menu.</p>
<p><img src="/img/snap-grid.gif" alt="snap to grid" /></p>
