---
title: 09· Libraries
---

<h1 id="libraries">Asset Libraries</h1>
<p class="main-paragraph">Asset Libraries allow you to store elements and styles so that they can be easily reused. Libraries may include components, graphics, colors and typographies. Learn how to create and manage them to better organize the pieces of your designs and speed your workflow.</p>

<h3 id="file-library">File library</h3>
<p>Each file has a File Library that allows assets that belong to it to be stored. You can find File Libraries at the workspace. To access them, click the assets panel icon at the bottom of the left toolbar or press <kbd>Alt/⌥</kbd> + <kbd>i</kbd>.</p>
<p><img src="/img/libraries-asset-types.png" alt="libraries" /></p>

<h3 id="asset-types">Asset Types</h3>
<p>In Penpot you can store four type of assets: components, graphics, colors and typographies:</p>
<ul>
  <li><strong>Components:</strong> A component is an object or group of objects that can be reused multiple times across user files (projects and teams in the future). Learn more at the <a href="/user-guide/components/">components section</a>.</li>
  <li><strong>Graphics:</strong> Both bitmap and vector images can be stored at the Graphics section.</li>
  <li><strong>Colors:</strong> Create your color styles and use them on fills and strokes.</li>
  <li><strong>Typographies:</strong> Penpot allows you to save typography styles with a set of reusable properties. You can always unlink a typography style maintaining the properties for the text layer.</li>
</ul>

<h3 id="add-assets-to-library">Adding Assets to Libraries</h3>
<p>You can use the “+” icon to add assets. Each of the categories have their own specific action:</p>
<ul>
  <li><strong>Components:</strong> Each Main Component is automatically stored in the library so there is no button or specific action to do it. Learn more about components at the <a href="/user-guide/components/">components section</a>.</li>
  <li><strong>Graphics:</strong> Click the “+” to inspect your local files and choose one or more images to upload them to the library.</li>
  <li><strong>Colors:</strong> Click the “+” to launch the color picker and add a color to the library. Learn more about <a href="/user-guide/color/">managing color</a>.</li>
  <li><strong>Typographies:</strong> All typography styles created from the text properties (at the right sidebar) are automatically stored at the library. You can also click the “+” to create a new typography style from scratch.</li>
</ul>
<p><img src="/img/assets-add.gif" alt="libraries" /></p>

<h3 id="edit-assets">Edit assets</h3>
<p>Press left click over any asset of the library to show the options menu. Some options are available only for certain assets.</p>
<ul>
  <li><strong>Components:</strong> Rename, duplicate, delete, group.</li>
  <li><strong>Graphics:</strong> Rename, delete, group.</li>
  <li><strong>Colors:</strong> Rename, edit, delete.</li>
  <li><strong>Typographies:</strong> Rename, edit, delete.</li>
</ul>
<p><img src="/img/assets-edit.gif" alt="libraries" /></p>

<h3 id="edit-assets">Using Assets</h3>
<ul>
  <li><strong>Components:</strong> Drag the component directly from the library to the viewport.</li>
  <li><strong>Graphics:</strong> Same as components, just drag the selected graphic to the viewport.</li>
  <li><strong>Colors:</strong> With shape or a text selected click a color from the library to apply it as a fill. If you press <kbd>Alt</kbd> (or <kbd>⌥</kbd> in macOS) while click the color will be applied to the stroke.</li>
  <li><strong>Typographies:</strong> With a text layer selected click a typography style from the library to apply it.</li>
</ul>
<p><img src="/img/assets-use.gif" alt="libraries" /></p>

<h3 id="manage-libraries">Manage and organize libraries</h3>
<p>Learn how to better view and organize your assets:</p>

<h4>View modes (list and grid)</h4>
<p>You can switch between list and grid views.</p>
<ul>
  <li><strong>Grid view:</strong> With the thumbnails displayed is easier to visually identify the content of specific assets, specially components.</li>
  <li><strong>List view:</strong> Optimized to identify the assets by their names and view more assets at the same time.</li>
</ul>
<p><img src="/img/assets-viewmode.gif" alt="libraries" /></p>

<h4>Ordering</h4>
<p>Click the ordering button to change the alphabetical order.</p>
<p><img src="/img/assets-order.gif" alt="libraries" /></p>

<h4>Search assets</h4>
<p>Use the Search assets box to filter the assets with names that match what you write.</p>
<p><img src="/img/assets-search.png" alt="libraries" /></p>

<h4>Filter assets</h4>
<p>You can decide whether to show all asset types or only one (components, graphics, colors or typographies).</p>
<p><img src="/img/assets-filter.gif" alt="libraries" /></p>

<h4>Multiselect assets</h4>
<p>Press <kbd>Ctrl/⌘</kbd> + left click to select multiple assets and be able to perform operations on them simultaneously.</p>

<h4>Grouping assets</h4>
<p>Penpot allows you to create groups inside libraries. To create a group, use the slash-separated naming convention and the group will be created automatically. e.g. <code>group / subgroup / asset_name</code>.</p>
<p>Another way to create a group is to right click with more than one asset selected and then click “Group” in the contextual menu.</p>
<p><img src="/img/library-groups.png" alt="libraries" /></p>
<p>You can also move assets from or to groups by dragging them.</p>
<p><img src="/img/library-drag-asset.gif" alt="libraries" /></p>

<h3 id="shared-libraries">Shared libraries</h3>
<p>You can turn any regular file into a Shared Library. This means that the File Library of this file will be available to other files of projects being worked on by the team.</p>
<p>To add a Shared Library from another file, launch the libraries panel, then search and select the available libraries.</p>
<p><img src="/img/shared-libraries.gif" alt="libraries" /></p>

<p>Shared libraries will be displayed at the libraries panel. Click on the link icon at the right of the Shared Library name to go to the file where the library is and edit its contents.</p>
<p><img src="/img/shared-libraries.png" alt="libraries" /></p>
