---
title: 09· Managing color
---

<h1 id="color">Managing color</h1>
<p class="main-paragraph">In Penpot there are two main tools to manage color: the color picker and the color palette.</p>

<h3 id="color-picker">Color picker</h3>
<p>Here you have the anatomy of the color picker:</p>
<p><img src="/img/color-picker.png" alt="color picker" /></p>
<ol>
  <li><strong>Eyedropper</strong> - Allows you to pick any color of the objects at the viewport.</li>
  <li><strong>Color profiles</strong> - Select between RGB, the Harmony Wheel or HSV.</li>
  <li><strong>Gradients</strong> - Set linear or radial gradients.</li>
  <li><strong>Sliders</strong> - Easily manage color and opacity.</li>
  <li><strong>Values</strong> - Set precise color values of red(R), green(G), bylue(B) and transparency(A).</li>
  <li><strong>Shortcuts</strong> - Switch between recent colors and libraries.</li>
  <li><strong>Color palette</strong> - A quick launcher of the palette with the selected library.</li>
</ol>

<h3 id="color-palette">Color Palette</h3>
<p>The color palette allows you to have a selected color library in plain sight. Use the menu to easily switch between libraries.</p>
<p><img src="/img/color-palette.gif" alt="color palette" /></p>
<p>There are three ways to show/hide the color palette:</p>
<ol>
  <li>From the <strong>main menu</strong> at the top left navbar.</li>
  <li>Pressing the color palette button the <strong>toolbar</strong>.</li>
  <li>Using the color palette <strong>launcher</strong> at the color picker (see previous section).</li>
</ol>
<p>Use the <strong>menu</strong> to easily switch between libraries.</p>
<p>Switch between big and small <strong>thumbnails sizes</strong>.</p>

<h4 id="color-palette">Applying color from the palette</h4>
<ul>
  <li><strong>Apply color to fill:</strong> Just select the shape and click on the desired bullet in the color palette.</li>
  <li><strong>Apply color to stroke:</strong>  Pres<kbd>Alt</kbd> (or <kbd>⌥</kbd> in mac OS) while clicking.</li>
</ul>
