---
title: 11· History
---

<h1 id="history">History</h1>
<p class="main-paragraph">The history panel keeps track of the latest changes on an opened file.</p>

<h3 id="history-view">View history</h3>
<p>To view the recent history of a file at the workspace press <kbd>Ctrl/⌘</kbd> + <kbd>H</kbd> or click at the history icon on the toolbar at the left.</p>
<p>At the history you can see items with information about the last changes. At first sight you have object type (rectangle, text, image...) and type of change (New, Modified, Deleted...). If you press the item further details are shown.</p>
<p><img src="/img/history-item.gif" alt="history" /></p>
<p><strong>Note:</strong> History panel is still in a very early state and shows only a limited list of changes at a current browser tab session. Refreshing the browser means refreshing the History as well.</p>

<h3 id="history-navigate">Navigate history</h3>
<p>To navigate through the history press <kbd>Ctrl/⌘</kbd> + <kbd>Z</kbd> to go backwards and <kbd>Ctrl/⌘</kbd> + <kbd>Shift/⇧</kbd> + <kbd>Z</kbd> to go forward.</p>
<p><img src="/img/history-navigate.gif" alt="history" /></p>
