---
layout: layouts/base.njk
templateClass: tmpl-developer-guide
---

<div class="main-container sidebar">
  <aside class="sidebar">
    {{ content | toc | safe }}
  </aside>

  <content class="main-content">
    {{ content | safe }}
  </content>
</div>
