---
layout: layouts/base.njk
templateClass: tmpl-user-guide
---

{%- macro show_children(item) -%}
  {%- for child in item | children | sorted('data.title') %}
    {%- if loop.first -%}<ul>{%- endif -%}
    <li>
      <a href="{{ child.url }}">{{ child.data.title }}</a>
      {{ show_children(child) }}
      {%- if child.url == page.url -%}
        {{ content | toc(tags=['h2', 'h3']) | safe }}
      {%- endif -%}
    </li>
    {%- if loop.last -%}</ul>{%- endif -%}
  {%- endfor %}
{%- endmacro -%}

<div class="main-container with-sidebar">
  <aside class="sidebar">
    {%- set root = '/user_guide/index' | find -%}
    <div id="toc-title">Table of contents</div>
    <div id="toc">
      <a href="{{ root.url }}">{{ root.data.title }}</a>
      {{ show_children(root) }}
    </div>
  </aside>

  <content class="main-content">
    {{ content | safe }}
  </content>

</div>
