---
title: 14· View mode
---

<h1 id="viewmode">View mode</h1>
<p class="main-paragraph">At Penpot, the View mode is the best place to present your designs. You will also be able to share them and play the interactions.<p>

<h3 id="viewmode-interface">View mode interface</h3>
<p>Take a look at the anatomy of the View mode at this section: <a href=”/user-guide/the-interface/#viewmode-interface” target=”_blank”>View mode interface</a>.</p>
<p><a href="/img/interface-viewmode.png" target="_blank"><img src="/img/interface-viewmode.png" alt="View mode"></a></p>

<h3 id="viewmode-launch">Launch your designs in View mode</h3>
<p>To view your designs from the workspace at View mode click the play button at the top right of the navbar or press <kbd>G</kbd> <kbd>V</kbd>.</p>
<p><strong>Note:</strong> the View mode shows only artboards and their contents. Anything outside an artboard will not be shown at the View mode.</p>
<p><img src="/img/viewmode-play.png" alt="viewmode" /></p>

<h3 id="viewmode-features">Features</h3>
<p>From the View mode you can:</p>
<ul>
  <li><strong>Navigate through artboards</strong> pressing <kbd>→</kbd> and <kbd>←</kbd> keys.</li>
  <li>Play the <strong>interactions</strong> (if there are any).</li>
  <li>Change <strong>view settings for interactions</strong>: don’t show, show or show on click. <p><img src="/img/interactions-view-options.png" alt="viewmode" /></p></li>
  <li>Click on the artboard name to see the <strong>artboards</strong> list (with nice thumbnails). <p><img src="/img/viewmode-artboards.png" alt="viewmode" /></p></li>
  <li>Click on the page name to display the <strong>pages</strong> menu. At shareable links the available pages can be configurable. <p><img src="/img/viewmode-pages.png" alt="viewmode" /></p></li>
  <li>Create a <strong>shareable link</strong>. The Share link is a public url that you can destroy anytime. You have control of what pages will be shown at the link, being able to choose between showing all pages, the current page or selecting specific pages.<p> <p>The option to share the design workspace in viewer mode is still disabled but coming soon.</p><img src="/img/viewmode-share-link-options.gif" alt="viewmode" /></p></li>
  <li><strong>Zooming options</strong>. Zoom in <kbd>+</kbd>, Zoom out <kbd>-</kbd>, Zoom to 100% <kbd>Shift+0</kbd>, Zoom to fit all <kbd>Shift+1</kbd>, Zoom to selected object <kbd>Shift+2</kbd>, Full screen.</li>
  <li>Activate the browser <strong>fullscreen mode</strong>.</li>
  <li>Activate the <strong>Code mode</strong>.</li>
  <li>Activate the <strong>Comments mode</strong>.</li>
</ul>
