---
title: 12· View mode
---

<h1 id="viewmode">View mode</h1>
<p class="main-paragraph">At Penpot, the View mode is the best place to present your designs. You will also be able to share them and play the interactions.<p>

<h3 id="viewmode-interface">View mode interface</h3>
<p>Take a look at the anatomy of the View mode at this section: <a href="/user-guide/the-interface/#viewmode-interface">View mode interface</a>.</p>
<p><a href="/img/interface-viewmode.png" target="_blank"><img src="/img/interface-viewmode.png" alt="View mode"></a></p>

<h3 id="viewmode-launch">Launch your designs in View mode</h3>
<p>To view your designs from the workspace at View mode click the play button at the top right of the navbar or press <kbd>G</kbd> <kbd>V</kbd>.</p>
<p><strong>Note:</strong> the View mode shows only boards and their contents. Anything outside a board will not be shown at the View mode.</p>
<p><img src="/img/viewmode-play.png" alt="viewmode" /></p>

<h3 id="viewmode-features">Features and options</h3>
<p>From the View mode you can:</p>
<ul>
  <li><strong>Navigate through boards</strong> pressing <kbd>→</kbd> and <kbd>←</kbd> keys.</li>
  <li>Play the <strong>interactions</strong> (if there are any).</li>
  <li>Change <strong>view settings for interactions</strong>: don’t show, show or show on click. <p><img src="/img/interactions-view-options.png" alt="viewmode" /></p></li>
  <li>Click on the board name to see the <strong>boards</strong> list (with nice thumbnails). <p><img src="/img/viewmode-artboards.png" alt="viewmode" /></p></li>
  <li>Click on the page name to display the <strong>pages</strong> menu. The pages can be configured in the shareable links section. <p><img src="/img/viewmode-pages.png" alt="viewmode" /></p></li>
  <li><strong>Zooming options</strong>. Reset zoom <kbd>Shift+0</kbd>, Toogle fullscreen <kbd>Shift+F</kbd>, Toggle zoom style <kbd>F</kbd>, Zoom in <kbd>+</kbd>, Zoom out <kbd>-</kbd>.</li>
  <li>Activate the browser <strong>fullscreen mode</strong>.</li>
  <li>Activate the <strong>Inspect mode</strong>.</li>
  <li>Activate the <strong>Comments mode</strong>.</li>
</ul>

<h2 id="viewmode-comments">Comments</h3>
<p>You can activate comments at the View mode by pressing the comments icon at the top navbar.</p>
<p class="advice">At the View mode only boards are shown so the comments that are placed outside boards will not be shown here.</p>
<p><img src="/img/comments-view.png" alt="comments" /></p>


<h2 id="viewmode-sharing">Sharing prototype links</h3>
<p>A "Share prototype link" is a public url that you can share so that someone can see the prototype regardless of whether they have a Penpot account.</p>
<p><strong>Create and destroy link:</strong></p>
<p>The Share prototype window can be found at the View mode.</p>
<ul>
<li>To <strong>create a link</strong> press the button "Get link" and the link will be automatically created.</li>
<li>To <strong>copy the link</strong> you can copy the url or press the copy button.</li>
<li>To <strong>destroy a link</strong> press the button "Destroy link" and confirm the action. The link will cease to exist and will be no longer available, so be careful if you've already shared it. However, you will be always able to create a new one.</li>
</ul>
<p><strong>Tip:</strong> Add your preferred "Interactions" setting (show / don't show / show on click) before creating the Share prototype link. This way the link will keep your selection.</p>
<p><img src="/img/share-prototype-flow.gif" alt="sharing" /></p>

<p><strong>Manage permissions:</strong></p>
<p class="advice">Allowing to share a "view only" workspace is in our plans and will come soon.</p>
<p>You can create a different link for each set of permissions. Click on "Manage permissions" to edit the link permissions.</p>
<ul>
<li><strong>Pages shared</strong>: Select the pages that will be availble at the link.</li>
<li><strong>Can comment</strong>: allow comments to users that are not in the team where the file belongs.</li>
<li><strong>Can inspect code</strong>: allow code inspection to users that are not in the team where the file belongs.</li>
</ul>
<p><img src="/img/share-prototype-permissions.gif" alt="sharing" /></p>

<h2 id="viewmode-inspect">Inspect designs</h3>
<p>You can activate the Inspect mode from the View mode. Click the code button at the middle of the navbar. Then you will see two sidebars:</p>
<ul>
<li>On the <strong>left sidebar</strong> you can see the layers tree. Select a layer to inspect it.</li>
<li>At the <strong>right sidebar:</strong> you can switch between Info and Code tabs to get design specifications or code.</li>
</ul>
<a href="/user-guide/inspect/">More about inspecting designs</a>
<p><img src="/img/viewmode-inspect.gif" alt="codemode" /></p>
