---
title: 08· Flexible Layouts
---

<h1 id="flexible-layouts">Flex Layout</h1>
<p class="main-paragraph">Penpot's unique Flex Layout allows you to create flexible designs that can adapt automatically. Resize, fit, and fill content and containers without the need to do it manually.</p>

<h3 id="flexlayout-css">Flex Layout is based on CSS standards</h3>
<p>Penpot's proposal tries to get as close as possible to the final output that we will see on the web. Design and development speak the same language in order to embrace web standards and improve communication between roles. 
Penpot's Flex Layout is built over Flexbox, a CSS module that provides a more efficient way to lay out, align and distribute space among items in a container. As there are already many comprehensive explations about Flexbox we are not going to write another one. If you are interested we can recommend you to read the one at <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">CSS Tricks</a>.</p>
<p><img src="/img/csstricks-00-basic-terminology.svg" alt="Flex Layout" /></p>
<small>Image from CSS Tricks</small>


<h3 id="flexlayout-add">Add Flex Layout</h3>
<p>You can add Flex Layout to any layer, group, board or a selection including any of these. Once Flex Layout Flex is added the selected elements will be contained into a board with the Flex Layout properties. You have several ways to do this:</p>
<ul>
  <li>From the Design panel at the right sidebar.</li>
  <li>From the option at the selection menu (right click button).</li>
  <li>Pressing <kbd>Ctrl/⌘</kbd> + <kbd>A</kbd>.</li>
</ul>
<p><img src="/img/flexlayout-add.gif" alt="Flex Layout" /></p>


<h3 id="flexlayout-arrange-reorder">Arrange and reorder objects to a Flex Layout</h3>
<p>To add an object to a Flex Layout you can just drag it at the position of your desire. You can also create or paste elements like in any regular board.</p>
<p>To reorder elements you can drag them or use the <kbd>UP/DOWN</kbd> keystrokes.</p>
<p><img src="/img/flexlayout-arrange.gif" alt="Flex Layout" /></p>


<h3 id="flexlayout-properties">Flex Layout properties</h3>
<p>You have properties for direction, align, justify, gap, padding, margin and sizing. Those are the same properties that you can use with CSS Flexbox. You can <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties" target="_blank">read here detailed explanations about Flexbox properteries</a>.</p>
<p><img src="/img/flexlayout-properties.png" alt="Flex Layout" /></p>
<h4>Flex Layout properties:</h4>
<ul>
  <li><strong>Direction:</strong> Row, reverse row, column, reverse column.</li>
  <li><strong>Wrap (Direction):</strong> Align content start / center / end / space-around / space-between.</li>
  <li><strong>Align items:</strong> Start, center, end.</li>
  <li><strong>Justify content:</strong> start, center, end, space-around, space-between.</li>
  <li><strong>Gap:</strong> Row, column.</li>
  <li><strong>Padding:</strong> Top, right, bottom, left.</li>
  <li><strong>Sizing:</strong> Fix/fit width, Fix/fit height.</li>
</ul>


<h3 id="flexlayout-code">Get code and specifications</h3>
<p>Designing with Flex Layout generates ready for production code. Select the flex board or its inner elements and then open the <a href="/user-guide/inspect" target="_blank">Inspect tab</a> to obtain its properties detailed info and raw code.</p>
<p><img src="/img/flexlayout-inspect.gif" alt="Flex Layout" /></p>


<h3 id="flexlayout-examples">Flex Layout basic examples</h3>
<h4>How to create a button</h4>
<p>A classic example that will help you create flexible buttons that grow depending on its content.</p>
<p><img src="/img/flexlayout-button.gif" alt="Flex Layout" /></p>

<h4>How to create a list</h4>
<p>Extremely useful for ordering list items. Remember to set <strong>fit height</strong> to the container so it can adapt to the number of items.</p>
<p><img src="/img/flexlayout-list.gif" alt="Flex Layout" /></p>

<h4>How to create a grid</h4>
<p>Use the <strong>wrap</strong> property along with <strong>row</strong> direction to get the elements positioned in multiple lines.</p>
<p><img src="/img/flexlayout-wrap.gif" alt="Flex Layout" /></p>



