---
title: 08· Flexible Layouts
---

<h1 id="flexible-layouts">Layout FLex</h1>
<p class="main-paragraph">Penpot's unique Flex Layout allows you to create flexible designs that can adapt automatically. Resize, fit, and fill content and containers without the need to do it manually.</p>

<h3 id="flexlayout-css">Flex Layout is based on CSS standards</h3>
<p>Penpot's proposal tries to get as close as possible to the final output that we will see on the web. Design and development speak the same language in order to embrace web standards and improve communication between roles. 
Penpot's Flex Layout is built over Flexbox, a CSS module that provides a more efficient way to lay out, align and distribute space among items in a container. As there are already many comprehensive explations about Flexbox we are not going to write another one. If you are interested we can recommend you to read the one at <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">CSS Tricks</a>.</p>
<p><img src="/img/csstricks-00-basic-terminology.svg" alt="Flex Layout" /></p>
<small>Image from CSS Tricks</small>


<h3 id="flexlayout-add">Add Flex Layout</h3>
<p>You can add Flex Layout to any layer, group, board or a selection including any of these. Once Flex Layout Flex is added the selected elements will be contained into a board with the Flex Layout properties. You have several ways to do this:</p>
<ul>
  <li>From the Design panel at the right sidebar.</li>
  <li>From the option at the selection menu (right click button).</li>
  <li>Pressing <kbd>Ctrl/⌘</kbd> + <kbd>A</kbd>.</li>
</ul>
<p><img src="/img/flexlayout-add.gif" alt="Flex Layout" /></p>


<h3 id="flexlayout-arrange-reorder">Arrange and reorder objects to a Flex Layout</h3>
<p>To add an object to a Flex Layout you can just drag it at the position of your desire. You can also create or paste elements like in any regular board.</p>
<p>To reorder elements you can drag them or use the <kbd>UP/DOWN</kbd> keystrokes.</p>
<p><img src="/img/flexlayout-arrange.gif" alt="Flex Layout" /></p>


<h3 id="flexlayout-properties">Flex Layout properties</h3>
<p>You have properties for direction, align, justify, gap, padding, margin and sizing. Those are the same properties that you can use with <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties" target="_blank">CSS Flexbox</a>.</p>
<p><img src="/img/flexlayout-.gif" alt="Flex Layout" /></p>
<ul>
  <li><strong>Direction:</strong> Row, reverse row, column, reverse column</li>
</ul>



<h3 id="flexlayout-css">mm</h3>
<p></p>
<p><img src="/img/flexlayout-.gif" alt="Flex Layout" /></p>


<ul>
  <li><strong>mmm:</strong> mmm</li>
</ul>



